<section id="navbar">
  <div class="bg-img" id="header">
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background: linear-gradient(-45deg, #552a02,#140a00, #db6f09, #c9e93c, #000b0f, #04744e); background-size: 400% 400%; animation: gradientBG 15s ease infinite;">
      <a class="navbar-brand ml-3" routerLinkActive="true" routerLink="/home">A2Z Solutions</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link btn-md btn btn-info dropdown-toggle  text-center mx-1" href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:150px;">
              Sign Up
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/user-register" routerLinkActive="true">User</a>
              <a class="dropdown-item" routerLink="/trainer-register" routerLinkActive="true">Mentor</a>
            </div>
          </li>
          <li>
            <a class="nav-link btn btn-md btn-info text-center" routerLink="/login" routerLinkActive="true"
              style="width:150px;">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="text-center bgtext">
      <h1>Success is Achieved Not Awarded...</h1>
      <h2>We guide you through the way...</h2>
      <button class="btn btn-info btn-md text-white my-1" (click)="navToSearch()">Search Trainings</button>
      </div>
  </div>
</section>

<section id="information">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-md-4 col-sm-6">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h4 class="title my-2 py-1"><a routerLink="/user-register">Users</a></h4>
        <p class="text-white my-1"> You are at the right place to Learn </p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4 col-sm-6">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h4 class="title my-2 py-1"><a routerLink="/trainer-register">Mentors</a></h4>
        <p class="text-white my-2"> Believe in your ability, Rise your appraise... </p>
      </div>
    </div>
  </div>
</section>


<section style="background-color: rgb(110, 233, 186);">
  <div class="container-fluid" style="background-color: rgb(110, 233, 186);">
    <div class="text-center shadow-lg my-5 mb-5 p-4" style="background: #0c8a55;">
      <h2>|| Know more to Learn more ||</h2>
      <h2>Learning is never constant...</h2>
    </div>
  </div>
</section>

<section>
  <div class="parallax"></div>
</section>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-info">
          <h4 style="font-size: 16px">A2Z Solutions</h4>
          <div class="container">
            <img src="../../assets/footer.jpg" width="98%" height="100px" />
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Info</h4>
          <p>
            <i class="fas fa-home mr-3 "></i> Greater Noida, New Delhi<br>
            <i class="fas fa-phone mr-3"></i> 1800-100-1111<br>
            <i class="fas fa-envelope mr-3"></i> a2zsolutions@gmail.com<br>
          </p>

          <div class="social-links">
            <a routerLink="/" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a routerLink="/" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a routerLink="/" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a routerLink="/" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a routerLink="/" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Our Motive</h4>
          <p>We introduce you to new technologies where you are served with the best trainers...</p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>A2Z Solutions</strong>. All Rights Are Reserved...
    </div>
  </div>
</footer>