
a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
  }

  .rounded:hover{
    background:rgb(211, 198, 21);
  }

  .btn:hover{
    color:white;
  }
  a:hover{
    color: black;
  }
  .btn {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    line-height: 24px;
    border-radius: 24px;
    width: 188px;
  }
  .btn,
  strong {
    font-weight: 500;
  }

  .rounded
  {
      border: 2px solid rgb(151, 248, 211);
      border-radius: 5px 2px;
      color: white
  }